.demoAndSource {
  flex-grow: 1;

  .header {
    margin-bottom: 30px;

    h2 {
      margin-top: 0;
    }
  }

  pre {
    display: inline-block;
    background: rgba(#fff, 0.15);
    margin: 0;
    padding: 2px 5px;
    margin: 2px 0px;
    border-radius: 5px;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  }
  
  .demo {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
  
    @media (max-width: 960px)  {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }
  }
  
  .sourceCodePaper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #222427;
    position: relative;
    padding: 0;
  
    @media (max-width: 960px)  {
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0;
    }

    .actionBar {
      padding: 5px 10px;
      background: rgba(#1e1f21, 0.9);
      border-top-right-radius: 10px;

      @media (max-width: 960px)  {
        border-top-right-radius: 0;
      }
    }

    .sourceCode {
      overflow-y: auto;
      padding: 30px;
    }
  }
}
