
.FormsExample {
  margin-bottom: 10px;
}

.formsExample {

  .textField {
    margin-bottom: 30px;
  }

  .passwordHelper {
    display: block;
    margin-bottom: 10px;
  }

  .submitButton {
    margin-top: 10px;
  }
}