.FlexLayoutExample {
  .paperContainer {
    padding: 20px;
    height: 300px;
    overflow: auto;
    
    .flexItem {
    
      &:not(:last-child) {
        margin-right: 20px;
      }
  
      .paper {
        padding: 40px;
        background-color: var(--color-secondary-light)
      }
    }
  }
}