:root {
  --color-common-black: #000;
  --color-common-white: #fff;
  --color-primary-main: #E74C3C;
  --color-primary-light: rgb(235, 111, 99);
  --color-primary-dark: rgb(161, 53, 42);
  --color-primary-contrastText: #fff;
  --color-secondary-main: #FFB74D;
  --color-secondary-light: rgb(255, 197, 112);
  --color-secondary-dark: rgb(178, 128, 53);
  --color-secondary-contrastText: rgba(0, 0, 0, 0.87);
  --color-error-main: #f48536;
  --color-error-light: rgb(246, 157, 94);
  --color-error-dark: rgb(170, 93, 37);
  --color-error-contrastText: rgba(0, 0, 0, 0.87);
  --color-warning-light: #ffb74d;
  --color-warning-main: #ff9800;
  --color-warning-dark: #f57c00;
  --color-warning-contrastText: rgba(0, 0, 0, 0.87);
  --color-info-light: #64b5f6;
  --color-info-main: #2196f3;
  --color-info-dark: #1976d2;
  --color-info-contrastText: #fff;
  --color-success-light: #81c784;
  --color-success-main: #4caf50;
  --color-success-dark: #388e3c;
  --color-success-contrastText: rgba(0, 0, 0, 0.87);
  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #bdbdbd;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;
  --color-grey-A100: #d5d5d5;
  --color-grey-A200: #aaaaaa;
  --color-grey-A400: #303030;
  --color-grey-A700: #616161;
  --color-text-primary: #fff;
  --color-text-secondary: rgba(255, 255, 255, 0.7);
  --color-text-disabled: rgba(255, 255, 255, 0.5);
  --color-text-icon: rgba(255, 255, 255, 0.5);
  --color-divider: rgba(255, 255, 255, 0.12);
  --color-link: rgba(231, 76, 60, 0.75);
  --color-background-paper: #242527;
  --color-background-default: #18191b;
  --color-action-active: #fff;
  --color-action-hover: rgba(255, 255, 255, 0.08);
  --color-action-hoverOpacity: 0.08;
  --color-action-selected: rgba(255, 255, 255, 0.16);
  --color-action-selectedOpacity: 0.16;
  --color-action-disabled: rgba(255, 255, 255, 0.3);
  --color-action-disabledBackground: rgba(255, 255, 255, 0.12);
  --color-action-disabledOpacity: 0.38;
  --color-action-focus: rgba(255, 255, 255, 0.12);
  --color-action-focusOpacity: 0.12;
  --color-action-activatedOpacity: 0.24;
}
